<section class='content'>
	<h1>About</h1>
	<p>
		This would be the about page for Lab 8!<br />
		<br />
		Page is at: <span class='page_location'>app/views/ccsf_rails/about.html.erb</span>
	</p>
</section>