<section class='content'>
	<h1>Welcome to Lab 8!</h1>
	<p>
		This is the home page for the Lab 8!<br />
		<br />
		Page is at: <span class='page_location'>app/views/ccsf_rails/index.html.erb</span>
	</p>
</section>