<section class='content'>
	<h1>Links</h1>
	<p>
		This would be a links page for Lab 8!<br />
		<br />
		Page is at: <span class='page_location'>app/views/ccsf_rails/links.html.erb</span>
	</p>
</section>
