<section class='content'>
	<h1>Login</h1>
	<p>
		This would be the login page for Lab 8!<br />
		<br />
		Page is at: <span class='page_location'>app/views/ccsf_rails/login.html.erb</span>
	</p>
</section>