<section class='content'>
	<h1>Logout</h1>
	<p>
		This would be the logout page for Lab 8!<br />
		<br />
		Page is at: <span class='page_location'>app/views/ccsf_rails/logout.html.erb</span>
	</p>
</section>